SUPABASE_URL=https://balafusffrofuriqomxu.supabase.co
SUPABASE_KEY=sb_publishable_abUMeIjudRcPQSw3kKK9Kg_sUPHSWPJ
SUPABASE_SECRET_KEY=sb_secret__fsFNly9TcWAFHGL2lRcgQ_UUNZA39z
SUPABASE_STORAGE_BUCKET=collection-images

